#tests {
    position: fixed;
    bottom: 0;
    
    margin: 0;
    padding: 0;
    width: 100%;
    
    border-top: 2px solid #EEE;
}

#tests {
    font-family: Helvetica, sans;
    color: #00CC00;
    list-style-type: none;
}

#tests .error {
    color: #FF4040;
}

#tests .info {
    color: #61B4CF;
}